body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}
.products {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
.product-img {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    margin-bottom:10px;
}
.product a {
    display: inline-block;
    margin-top: 10px;
    color: white;
    background: #e50914;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}    
