img {
  max-width: 100%;
  height: auto;
  display: block;
}

.product-image {
  width: 250px !important;
  height: 250px !important;
  object-fit: cover;
  display: block;
  margin: auto;
  border-radius: 10px;
}
